# Dependencies
node_modules/
.npm

# Build output
dist/
build/

# Playwright
.playwright-cache/

# Reports
reports/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
